<!-- views/signup.ejs -->
<!doctype html>
<html>
<head>
  <%- include('partial/head.ejs') %>
</head>
<body>
<div class="container">

    <div class="col-sm-6 col-sm-offset-3">

        <h1 style="width: 500px;"><span class="fa fa-sign-in"></span> Atsiskaitymo ivertinimas</h1>

        <form action="/evaluateAss/<%=reqf._id%>" method="post" enctype="multipart/form-data">

            <div class="form-group">
                <label>Vertintojas</label>
                <input type="text" class="form-control" value="<%= user.local.email %>" readonly>
            </div>

            <br>
            <div class="form-group">
                <label>Studentas</label>
                <input type="text" class="form-control" value="<%= studentas.local.email %>" readonly>
            </div>

            <br>
            <div class="form-group">
                <label>Atsiskaitymas</label>
                <h4><%= reqf.name %></h4>
            </div>

            <br>
            <div class="form-group">
                <label>Atsiskaitymo aprasymas</label><br>
                <p><%= reqf.desc %></p>
            </div>
            <br>

            <div class="form-group">
                <label>Atlikti iki:</label><br>
                <p><%= reqf.dateUntil %></p>
            </div>
            <br>

            <button type="button" class="btn btn-primary" onclick="location.href = '/<%= reqf.filepath %>';">Perziureti darba</button>
            <br>
            
            <div class="form-group">
                <label>Pazimys</label><br>
                <input type="number" class="form-control" name="mark">
            </div>
            <br>


            <button type="submit" class="btn btn-warning btn-lg" value="upload">Ivertinti</button>
        </form>

        <hr>

    </div>

</div>
</body>
</html>
