<html>
<head>
  <%- include('partial/head.ejs') %>
</head>

<body>
<div class="container">

    <h1><%= lecture.name %></h1>
    <h4><%= lecture.desc %></h4>

    <div class="jumbotron" style="padding-top: 32px;">
        <h3>Modulio failai</h3>
        <hr>
        <% if(lecture.items.length !== 0) { %>
            <div> 
            <% lecture.items.forEach(item => { %>
                <h5>Name: <%= item.name %></h5>
                <p>Type: <%= item.type %></p>
                <a href="">TODO: Open file</a>
            <% }) %>
            <hr>
            </div>
        <% } %>

        <% if(user.local.userType === 'admin' || user.local.userType === 'lecturer') {%>
            <a href="/postLectureItem/<%= lecture._id %>">Add item to lecture</a>
        <% } %>
    </div>


</div>
</body>
</html>
